@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$green: #27300f;
$orange: #d26a22;
$dark-orange: #cf5c0d;
$white: #fff;

$font-jost: 'Jost', sans-serif;
$font-cormorant: 'Cormorant', serif;

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: $font-jost;
    color: $green;
    background-image: url(../images/background.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
}

.header {
    max-width: 1440px;
    margin: 0 auto 5rem;
    padding: 4rem 15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__nav {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        gap: 4.8rem;
        margin-left: -13rem;
    }
    &__link {
        color: $green;
        text-decoration: none;
        &:hover {
            color: $orange;
        }
    }
    &__tel {
        font-family: $font-jost;
        font-weight: 700;
        color: $green;
        text-decoration: none;
        margin-right: -17rem;
        letter-spacing: 1.5px;
        transition: .2s ease;
        &:hover {
            color: $orange;
        }
    }
    &__cart {
        display: block;
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        background-color: $orange;
        background-image: url(../images/cart.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 1.7rem 1.5rem;
        position: relative;
        border: 1px solid $orange;
        padding: 0;
        &:hover {
            background-color: $green;
            border: 1px solid $green;
        }
    }
    &__counter {
        font-size: .8rem;
        color: $white;
        position: absolute;
        right: 1rem;
        top: .6rem;
    }
}

.logo {
    display: block;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 12rem;
    height: 3.2rem;
    &_footer {
        flex-basis: 18rem;
        height: 4.8rem;
        margin-top: 0.8rem;
    }
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.main {
    position: relative;
    padding-bottom: 187px;
    z-index: 0;
    &__item {
        margin-left: 12rem;
        max-width: 378px;
        margin-top: 6rem;
    }
    &__link {
        margin-top: 5rem;
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        align-items: center;
    }
    &__cover {
        flex-basis: 758px;
        height: 758px;
        border: 1px solid rgba($green, 0.4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    &__line {
        width: 656px;
        height: 656px;
        border: 1px solid rgba($green, 0.4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__image {
        width: 92%;
        box-shadow: 29px 52px 121px -76px rgb(39 48 15 / .8);
        border-radius: 100%;
    }
    &__text {
        padding-top: 4rem;
    }
    &__btn {
        background-color: transparent;
        border: none;
        padding: 0;
        color: $green;
        position: absolute;
        text-align: left;
        cursor: pointer;
        &:hover {
            &::before {
                background-color: $orange;
                box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
            }
        }
        &::before {
            content: '';
            background-color: $green;
            width: 11px;
            height: 11px;
            box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
            border-radius: 100%;
            position: absolute;
        }
        &_1 {
            top: 47px;
            left: 65px;
            &::before {
                top: 18px;
                left: 83px;
            }
        }
        &_2 {
            top: 195px;
            right: -4px;
            &::before {
                bottom: 13px;
                right: 95px;
            }
        }
        &_3 {
            bottom: -46px;
            right: 246px;
            &::before {
                bottom: 54px;
                right: 28px;
            }
        }
    }
    &__food  {
        display: block;
        color: rgba($green, 0.8);
    }
    &__tomato {
        position: absolute;
        bottom: 115px;
        right: 121px;
        width: 11rem;
        z-index: -1;
    }
    &__avocado {
        position: absolute;
        top: 50px;
        right: 0;
        width: 17.8rem;
        z-index: -1;
    }
    &__cucumber {
        position: absolute;
        left: 694px;
        top: 0;
        width: 8.4rem;
        z-index: -1;
    }
    &__pepper {
        position: absolute;
        top: 400px;
        left: 40px;
        width: 8.6rem;
        z-index: -1;
    }
    &__beans {
        position: absolute;
        bottom: 166px;
        left: 0;
        width: 10.5rem;
        z-index: -1;
    }
}
.title {
    font-family: $font-cormorant;
    font-weight: 700;
    font-size: 8rem;
    margin: 0;
    line-height: 1;
    &__span {
        font-style: italic;
    }
    &__block {
        .title__span {
            display: block;
        }
    }
    &_block {
        .title__span {
            display: block;
        }
    }
}

.description {
    margin: 0;
    line-height: 1.5;
    &_size-s {
        font-size: 1.8rem;
    }
    &_size-m {
        font-size: 2.4rem;
    }
    &_size-l {
        font-size: 2.4rem;
        letter-spacing: .1rem;
    }
}

.link {
    color: $white;
    letter-spacing: 0.13rem;
    text-transform: uppercase;
    padding: 2.4rem 4.3rem;
    background-color: $orange;
    box-shadow: 0px 1rem 1.1rem .2rem rgba(207, 92, 13, 0.2);
    text-decoration: none;
    border-radius: 3.8rem;
    display: inline-block;
    border: none;
    transition: .2s ease;
    cursor: pointer;
    &:hover {
        background-color: $dark-orange;
    }
    &_min {
        font-size: 1.4rem;
        padding: 2rem 3.4rem;
        box-shadow: 0px 1rem 1.1rem .17rem rgba(207, 92, 13, 0.15);
    }
    &_max {
        padding: 2.4rem 5.1rem;
    }
}

.offer {
    padding-top: 2rem;
    padding-bottom: 12.8rem;
    &__text {
        margin-top: 6rem;
        max-width: 700px;
    }
}

.slider {
    overflow: hidden;
    padding-top: 9rem;
}

.swiper {
    overflow: initial;
    &-slide {
        border: 1px solid rgba($green, .4);
        border-radius: 2rem;
        padding: 3rem 3.7rem 3.8rem;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: 0;
        &_white {
            height: 521px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 3.4rem 3.7rem;
            &:hover {
                .swiper-slide__hover {
                    height: 233px;
                    opacity: 1;
                }
                &::after {
                    content: '';
                    background-color: rgba($white, .55);
                    width: calc(100% - 4px);
                    height: calc(100% - 4px);
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    border-radius: 2rem;
                    z-index: -1;
                }
            }
        }
        &:hover {
            box-shadow: 0 0 0 2px rgba($green, .4) inset;
        }
        &_milk {
            background-image: url(../images/milk.png);
        }
        &_pasta {
            background-image: url(../images/pasta.png);
        }
        &_steaks {
            background-image: url(../images/steaks.png);
        }
        &__title {
            font-family: $font-cormorant;
            font-size: 3rem;
            color: $green;
            margin-bottom: 0;
            &_min {
                letter-spacing: -0.8px;
                margin-top: 2rem;
                margin-bottom: 3rem;
            }
        }
        &__hover {
            height: 0;
            opacity: 0;
        }
        &__text {
            color: rgba($green, 0.7);
            line-height: 1.5;
            margin-bottom: 3.4rem;
            max-width: 263px;
            margin-top: 2.5rem;
        }
        &__link {
            text-transform: uppercase;
            font-weight: 500;
            color: $green;
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 2rem;
            letter-spacing: 0.1rem;
            opacity: .8;
            &:hover {
                opacity: 1;
            }
            &::before {
                content: '';
                display: block;
                width: 3rem;
                height: 3rem;
                background-image: url(../images/plus.svg);
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
        &__cover {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 322px;
            text-align: right;
        }
        &__image {
            width: 100%;
            max-width: 351px;
            height: 100%;
            object-fit: contain;
        }
        &__description {
            font-size: 1.8rem;
            color: rgba($green, 0.7);
            margin-top: 2rem;
            margin-bottom: 0;
            min-height: 55px;
            max-width: 291px;
            line-height: 1.5;
        }
        &__price {
            font-size: 2.4rem;
            margin-bottom: 3rem;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &-pagination {
        display: none;
    }
    &-button-next, &-button-prev {
        top: -60px;
        &:hover {
            &::after {
                color: rgba($green, 1);
            }
        }
        &::after {
            color: rgba($green, .4);
            font-size: 20px;
        }
    }
    &-button-next {
        right: -8px;
    }
    &-button-prev {
        left: initial;
        right: 72px;
    }
}

.counter {
    display: flex;
    &__btn {
        cursor: pointer;
        width: 50px;
        height: 50px;
        border: 1px solid $green;
        background-color: transparent;
        padding: 0;
        background-position: center center;
        border-radius: 100%;
        &_min {
            width: 40px;
            height: 40px;
        }
    }
    &__minus {
        pointer-events: none;
        background-image: url(../images/minus-counter.svg);
        background-size: 20px 11px;
        background-repeat: no-repeat;
        opacity: .4;
    }
    &__plus {
        background-image: url(../images/plus-counter.svg);
        background-size: 20px 11px;
        background-repeat: no-repeat;
    }
    &__input {
        text-align: center;
        font-size: 2.4rem;
        width: 46px;
        border: none;
        padding: 0;
        &_min {
            width: 33px;
        }
    }
}

.about {
    padding-top: 3.8rem;
    padding-bottom: 15.2rem;
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 6.6rem;
    }
    &__text {
        margin-left: 11.9rem;
        flex-basis: 614px;
    }
    &__list {
        list-style: none;
        display: flex;
        gap: 9rem;
        font-family: $font-cormorant;
        font-style: italic;
        font-size: 3rem;
        margin: 0;
        padding-left: 0;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &::before {
            content: '';
            width: 84px;
            height: 84px;
            background-position: center center;
            background-repeat: no-repeat;
            border: 1px solid rgba($green, 0.4);
            border-radius: 100%;
            margin-bottom: 1.5rem;
        }
        &:nth-child(1) {
            &::before {
                background-image: url(../images/fruits.svg);
                background-size: 44px 41px;
            }
        }
        &:nth-child(2) {
            &::before {
                background-image: url(../images/traditional.png);
                background-size: 40px 40px;
            }
        }
        &:nth-child(3) {
            &::before {
                background-image: url(../images/good.svg);
                background-size: 45px 39px;
            }
        }
    }
}

.trends {
    padding-top: 4.2rem;
    padding-bottom: 19rem;
    &__text {
        margin-top: 4rem;
    }
}

.catalog {
    &__list {
        margin-top: 8.5rem;
        margin-bottom: 5rem;
    }
    &__btn {
        opacity: 0.8;
        border: none;
        background: transparent;
        color: #27300f;
        text-transform: uppercase;
        margin-top: 3rem;
        letter-spacing: .1rem;
        cursor: pointer;
        margin: 0 auto;
        display: flex;
        align-items: center;
        gap: 1.5rem;
        &:before {
            content: "";
            background-image: url(../images/refresh.png);
            width: 25px;
            height: 25px;
            background-repeat: no-repeat;
            background-position: center center;
        }
        &:hover {
            opacity: 1;
        }
    }
}

.category {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    gap: 2rem;
    &__item {
        flex-basis: 230px;
        text-align: center;
    }
    &__link {
        padding: 2.4rem 0;
        border: 1px solid rgba($green, .5);
        color: rgba($green, .5);
        font-size: 1.8rem;
        text-decoration: none;
        border-radius: 4rem;
        display: block;
        &:hover {
            border: 1px solid $orange;
            color: $orange;
        }
    }
}

.catalog-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-bottom: 5.2rem;
    &__item {
        border: 1px solid rgba($green, 0.4);
        border-radius: 2rem;
        padding: 3rem 2.5rem 4.6rem 3rem;
        &:hover {
            box-shadow: 0 0 0 2px rgba($green, 0.4) inset;
        }
    }
    &__cover {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 204px;
        text-align: center;
    }
    &__image {
        width: 100%;
        max-width: 351px;
        height: 100%;
        object-fit: contain;
    }
    &__m-w {
        width: 61%;
    }
    &__y-w {
        width: 36%;
    }
    &__c-w {
        width: 54%;
    }
    &__mo-w {
        width: 75%;
    }
    &__b-w {
        width: 100%;
    }
    &__yt-w {
        width: 44%;
    }
    &__ch-w {
        width: 78%;
    }
    &__s-w {
        width: 58%;
    }
    &__title {
        font-family: $font-cormorant;
        font-size: 3rem;
        color: $green;
        margin-top: 1.5rem;
        margin-bottom: 0;
    }
    &__description {
        font-size: 1.6rem;
        color: rgba($green, .7);
        min-height: 61px;
        max-width: 269px;
        line-height: 1.5;
        margin-bottom: 0;
    }
    &__price {
        font-size: 2.4rem;
        margin-bottom: 2.3rem;
        margin-top: 0;
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.delivery {
    padding-top: 14.1rem;
    padding-bottom: 11rem;
    &__box {
        display: flex;
        font-size: 1.8rem;
        line-height: 1.5;
        margin-top: 5.6rem;
        margin-left: 12rem;
        gap: 12%;
    }
    &__text {
        flex-basis: 44%;
    }
    &__description {
        margin-bottom: 2.6rem;
    }
    &__pay {
        flex-basis: 37%;
    }
    &__link {
        color: $green;
        text-decoration: none;
        position: relative;
        &::after {
            content: '';
            width: 100%;
            height: 1px;
            background-color: #858881;
            display: block;
            position: absolute;
            bottom: 3px;
            left: 0;
        }
    }
    &__color {
        color: $orange;
    }
    &__list {
        list-style-type: none;
        padding-left: 0;
        display: flex;
        gap: 3rem;
        margin-top: 4.3rem;
    }
    &__item {
        height: 32px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        opacity: .4;
        transform: scale(1);
        transition: .2 ease;
        &:hover {
            opacity: 1;
            transform: scale(1.05);
        }
    }
    &__mastercard {
        width: 53px;
        background-image: url(../images/mastercard.svg);
    }
    &__visa {
        width: 74px;
        background-image: url(../images/visa.svg);
    }
    &__paypal {
        width: 87px;
        background-image: url(../images/paypal.svg);
    }
}

.contact {
    padding-top: 6.5rem;
    padding-bottom: 16rem;
    &-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__text {
            max-width: 400px;
            flex-grow: 1;
            margin-top: 7rem;
            margin-left: 12rem;
            line-height: 1.5;
        }
        &__description {
            letter-spacing: 1px;
        }
        &__list {
            list-style-type: none;
            margin-top: 6rem;
            font-size: 2.4rem;
            padding-left: 0
        }
        &__item {
            margin-top: 2rem;
        }
        &__link {
            font-size: 2.4rem;
            color: $green;
            text-decoration: none;
            font-weight: 500;
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 3.3rem;
            margin-bottom: 1.8rem;
            &::before {
                content: '';
                background-repeat: no-repeat;
                background-position: center;
                width: 29px;
                height: 30px;
                display: block;
            }
        }
        &__tel {
            margin-bottom: 2rem;
            transition: .2s ease;
            color: $green;
            &:hover {
                color: $orange;
            }
            &::before {
                background-image: url(../images/phone.svg);
                background-size: 29px 30px;
            }
        }
        &__mail {
            transition: .2s ease;
            color: $green;
            &:hover {
                color: $orange;
            }
            &::before {
                background-image: url(../images/mail.svg);
                background-size: 29px 30px;
            }
        }
        &__form {
            flex-basis: 589px;
        }
    }
}

.card {
    border: 2px solid rgba($green, 0.4);
    padding: 3.2rem 5.8rem 4rem;
    border-radius: 2rem;
    &__title {
        font-size: 3rem;
        font-family: $font-cormorant;
        margin-top: 0;
    }
    &__label {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        display: block;
        margin-left: .6rem;
    }
    &__input {
        border: 1px solid rgba($green, 0.4);
        padding: 2.2rem 3rem;
        margin-bottom: 2.8rem;
        display: block;
        width: 100%;
        box-sizing: border-box;
        border-radius: 2rem;
        &:focus {
            border: 1px solid rgba($green, 1);
            outline: none;
        }
        &:invalid {
            border: red;
        }
    }
    &__check {
        font-size: 1.2rem;
        color: rgba($green, .6);
        line-height: 1.5;
        max-width: 360px;
        margin-top: 1.8rem;
        margin-bottom: 0;
    }
    &__link {
        margin-top: 1.2rem;
        padding: 2.3rem 4.8rem
    }
    &__docs {
        text-decoration: none;
        color: rgba($green, .6);
        border-bottom: 1px solid #ecedec;
    }
}

footer {
    border-top: 1px solid #d4d6cf;
    padding-top: 7.9rem;
    padding-bottom: 7.1rem;
}
.footer {
    &__box {
        display: flex;
        justify-content: space-between;
        font-size: 1.8rem;
    }
    &__info {
        flex-basis: 66.5%;  
        display: flex;
        justify-content: space-between; 
    }
    &__list {
        list-style: none;
        padding-left: 0;
        margin: 0;
        font-size: 1.8rem;
    }
    &__item {
        margin-bottom: 2.6rem;
        transition: .2s ease;
        &:last-child {
            margin-bottom: 0;
        }
        &:hover {
            color: $orange;
        }
    }
    &__link {
        color: $green;
        text-decoration: none;
        transition: .2s ease;
        &:hover {
            color: $orange;
        }
    }
    &__tel {
        display: block;
        font-size: 2.7rem;
        color: $green;
        text-decoration: none;
        margin-bottom: 3rem;
        transition: .2s ease;
        &:hover {
            color: $orange;
        }
    }
    &__text {
        display: flex;
        justify-content: space-between;
        font-size: 1.6rem;
        color: rgba($green, .6);
    }
    &__author {
        letter-spacing: .08rem;
        color: rgba($green, .6);
        text-decoration: none;
        transition: .2s;
        &:hover {
            color: rgba($green, 1);
        }
    }
}
.footer-social {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.8rem;
    margin-bottom: 4.2rem;
    &__item {
        display: block;
        opacity: .8;
        &:hover {
            opacity: 1;
        }
    }
    &__link {
        box-sizing: border-box;
		background-repeat: no-repeat;
		background-position: center center;
		border-radius: 100%;
		border: 2px solid $green;
		color: $green;
		width: 50px;
		height: 50px;
		transition: .2s ease-in;
		display: block;
        opacity: .8;
        &:hover {
            opacity: 1;
        }	
    }
    &__vk {
        background-size: 2.3rem auto;
        background-image: url(../images/vk.svg);
    }
    &__inst {
        background-size: 1.8rem auto;
        background-image: url(../images/inst.svg);
    }
    &__fb {
        background-size: 1.8rem auto;
        background-image: url(../images/fb.svg);
    }
}